@import "../../app/spinner/spinner.less";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: arial;
  background-color: #7EC0EE;
  background-size: cover;
}

h1 {
  font-family: cursive;
  font-size: 56px;
  margin: 30px 0 50px;
  letter-spacing: 1.4px;
}

h2 {
  margin-bottom: 30px;
}

p {
  letter-spacing: 1.2px;

  &.label {
    font-size: 14px;
    margin: 15px 0 30px;
  }

  &.temp {
    font-size: 18px;
  }
}

div, input {
  box-sizing: border-box;
}

input {
  padding: 7px 10px;
  width: 300px;
  max-width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.content {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.today {
  background-color: #fff;
  padding: 15px 25px 25px;
  text-align: left;
  font-size: 0;

  h3 {
    font-size: 22px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
  }

  section {
    font-size: 16px;
    display: inline-block;
    width: 50%;
    min-width: 300px;
    vertical-align: top;
  }
}

.five-day {
  margin: 50px 0;
  background-color: #fff;

  .short-forecast {
    padding: 15px;
    display: inline-block;
    width: 20%;
    min-width: 140px;
    text-align: center;
  }
}

.wi {
  font-size: 46px;
  margin: 15px;
}

.error {
  display: none;
  color: purple;
  margin: 0;
  font-size: 14px;

  &.show {
    display: block;
  }
}