<div class="today">
  <h3>Today: {{today.day}}, {{today.date}}</h3>
  <section>
    <i class="wi wi-yahoo-{{today.code}}"></i>
    <p>{{today.text}}</p>
  </section>
  <section>
    <p class="temp">Min Temp: {{today.low}}&#8451;</p>
    <p class="temp">Max Temp: {{today.high}}&#8451;</p>
    <p class="temp">Humidity: {{atmosphere.humidity}}%</p>
  </section>
</div>