<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>WhatWeather</title>

  <link rel="stylesheet" href="src/client/css/styles.css" />
  <link rel="stylesheet" href="src/client/css/weather-icons.min.css" />
  <link rel="stylesheet" href="src/client/css/weather-icons-wind.min.css" />
</head>
<body ng-app="whatWeather" ng-controller="whatWeatherCtrl">

  <spinner ng-show="loading" ng-class="{'loading': loading}"></spinner>

  <div class="content">
    <p>When you just need to know What Weather a place has, you go to...</p>

    <h1>What Weather</h1>

    <input type="text" name="place" ng-model="model.place" googleplace>
    <p class="error" ng-class="{'show': model.error}">Please be a little more specific</p>

    <h2>{{description}}</h2>

    <todays-weather ng-show="today"></todays-weather>

    <div class="five-day">
      <forecast-weather ng-repeat="day in forecast"></forecast-weather>
    </div>
  </div>

  <script src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDQBuPxdeRc2zw1w1Lf33f7KDd_p14v0es"></script>

  <script src="src/client/app/app.module.js"></script>
  <script src="src/client/app/googlePlace/googlePlace.js"></script>
  <script src="src/client/app/weatherService/weatherService.js"></script>
  <script src="src/client/app/spinner/spinner.js"></script>
  <script src="src/client/app/todaysWeather/todaysWeather.js"></script>
  <script src="src/client/app/forecastWeather/forecastWeather.js"></script>
</body>
</html>
